html { /*removing hori scroll bar*/
    overflow-x: hidden; }

#pagesBackgorund{
    background-color:#DDEBF9;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.confDialog{
           background-color: #FFBE5C;
}
legend{
    color: black;
    font-weight: bold;
}
#report{
    font-size: large;
    color: #109618;
}
label{
    color: black;
    font-weight: bold;
}
/*wraping text in table columns*/
table.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
}
/* for dispalying */
@media screen{
    .noPrint{ display: block; }
    .yesPrint{ display: none !important; }
    /*.noDisplay{display: none;}*/
}
/* for printing */
@media print{
    .noPrint{display: none; }
    .noBorder{ border: 0px;}
    .yesPrint{ display: block !important;}
    /*.noDisplay{display: block;}*/
    select{-webkit-appearance: none;}
    input,textarea,form,legend {
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
    }
    html, body {
        width: 210mm;
        height: 297mm;
        padding: 0;
    }

}

